{{- $version  := "3.2.2" -}}
{{- if eq .osid "linux-ubuntu" -}}
#!/bin/sh

. {{ joinPath .chezmoi.workingTree "rc.d" "chezmoi.sh" }}

echo "[Dotfiles] Ruby"
echo "Install Ruby"

ask_confirm
answer=$?
case $answer in
  0)
    
    echo "Install Ruby Build Tools"

    installed="autoconf patch build-essential rustc"
    build_tools="
        libssl-dev
        libyaml-dev
        libreadline6-dev
        zlib1g-dev
        libgmp-dev
        libncurses5-dev
        libffi-dev
        libgdbm6
        libgdbm-dev
        libdb-dev
        uuid-dev
    "
    sudo nala install $build_tools
    
    echo "Install Ruby Version Manager"
    if [ ! -d {{ joinPath .chezmoi.homeDir ".rbenv" }} ]; then
        git clone https://github.com/rbenv/rbenv.git {{ joinPath .chezmoi.homeDir ".rbenv" }}
        mkdir -p {{ joinPath .chezmoi.homeDir ".rbenv/plugins" }}
        git clone https://github.com/rbenv/ruby-build.git {{ joinPath .chezmoi.homeDir ".rbenv/plugins/ruby-build" }}
    fi
    
    eval "$({{ joinPath .chezmoi.homeDir ".rbenv/bin/rbenv" }} init - $SHELL)"
    
    echo "Install Ruby"
    rbenv install -v -s {{ $version }}
    rbenv global {{ $version }}

    ;;
  1)
    echo "Skip install Ruby"
    ;;
  *)
    echo "Quit"
    exit 1
    ;;
esac

{{ end -}}

