{{- if eq .osid "linux-ubuntu" -}}
#!/bin/sh

echo "[Dotfiles] Development Tools"

build_tools="
    build-essential
    cmake
    ninja-build
    m4
    autoconf
    automake
    autotools-dev
    libtool
    pkg-config
    gettext
"

source_tools="
    git
    global
    universal-ctags
    bear
"

download_tools="
    curl
    wget
"

miscellaneous="
    unzip
    xsel
"

all_packages="
    $build_tools
    $source_tools
    $download_tools
    $miscellaneous
"

echo "Install Packages:"
echo "sudo nala install -y $all_packages"

{{- if dig "install" "tools" false . }}
sudo nala install -y $all_packages
{{- else }}
echo "Skip install packages"
{{- end }}

{{ end -}}


