{{- if eq .osid "linux-ubuntu" -}}
#!/bin/zsh

echo "[Dotfiles] Python"

echo "Install Python"

{{- if dig "install" "python" false . }}

curl -LsSf https://astral.sh/uv/install.sh | sh

export PATH="$HOME/.local/bin:$PATH"

uv python install 3.12 --reinstall

echo "Create a Python virtualenv for Neovim"
uv venv --seed --allow-existing {{ joinPath .chezmoi.workingTree "venv" "vim" }}
. {{ joinPath .chezmoi.workingTree "venv" "vim" "bin" "activate" }}
uv pip install pynvim
uv pip list

{{- else }}
echo "Skip install Python"
{{- end }}

{{ end -}}


