{{- if eq .osid "linux-ubuntu" -}}
#!/bin/sh

. {{ joinPath .chezmoi.workingTree "rc.d" "chezmoi.sh" }}

echo "[Dotfiles] Vim"

vim_dir=/opt/vim
vim_src=/opt/src/vim

# echo "Skip Uninstall Vim"
# 
# ask_confirm
# answer=$?
# case $answer in
#   0)
#     echo "Skip Uninstall Vim"
#     ;;
#   1)
#     sudo rm -rf $vim_dir 
#     sudo rm -rf $vim_src 
#     ;;
#   *)
#     echo "Quit"
#     exit 1
#     ;;
# esac

echo "Install Vim"

ask_confirm
answer=$?
case $answer in
  0)

    sudo mkdir -p $vim_dir
    
    if [ -f "${vim_dir}/bin/vim" ]; then
        echo "Vim is already installed in /opt/vim"
    else
        echo "Build vim"
    
        sudo mkdir -p /opt/src
        sudo git clone https://github.com/vim/vim.git $vim_src
    
        cd $vim_src && \
        sudo make distclean && \
        sudo ./configure --prefix=$vim_dir --enable-cscope --enable-terminal --enable-multibyte --enable-gui=auto CC=clang && \
        sudo make && \
        sudo make install
    fi

    ;;
  1)
    echo "Skip install Vim"
    ;;
  *)
    echo "Quit"
    exit 1
    ;;
esac

{{ end -}}

