{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $name := promptStringOnce . "name" "(git) user.name" -}}
{{- $email := promptStringOnce . "email" "(git) user.email" -}}

[data]
osid = {{ $osID | quote }}
name = {{ $name | quote }}
email = {{ $email | quote }}

