# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000
setopt autocd beep nomatch notify
unsetopt extendedglob
bindkey -v
# End of lines configured by zsh-newuser-install
# The following lines were added by compinstall
zstyle :compinstall filename '{{ joinPath .chezmoi.homeDir ".zshrc" }}'

autoload -Uz compinit
compinit
# End of lines added by compinstall

{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d" "export.sh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"  "alias.sh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"  "clang.sh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d" "python.sh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"   "node.sh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"   "java.sh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"     "go.sh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"   "rust.sh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"    "bat.sh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"   "fzf.zsh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"   "nvim.sh") . -}}

