# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000
setopt autocd beep nomatch notify
unsetopt extendedglob
bindkey -e
# End of lines configured by zsh-newuser-install
# The following lines were added by compinstall
zstyle :compinstall filename '{{ joinPath .chezmoi.homeDir ".zshrc" }}'

autoload -Uz compinit
compinit

autoload -U edit-command-line
zle -N edit-command-line
# emacs style
# bindkey '^xe' edit-command-line
# bindkey '^x^e' edit-command-line
# vim style
bindkey -M vicmd v edit-command-line
# End of lines added by compinstall

{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"  "chezmoi.sh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"  "prompt.zsh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d" "plugins.zsh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"   "export.sh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"    "alias.sh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"    "clang.sh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"   "python.sh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"     "node.sh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"     "java.sh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"       "go.sh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"     "rust.sh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"     "ruby.sh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"  "haskell.sh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"      "bat.sh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"     "fzf.zsh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"     "nvim.sh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"      "vim.sh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"  "vagrant.sh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d" "neofetch.sh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"   "nvidia.sh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"      "k8s.sh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"      "bun.sh") . -}}
{{- includeTemplate (joinPath .chezmoi.workingTree "rc.d"      "tbb.sh") . -}}

