{{- if eq .osid "linux-ubuntu" -}}
#!/bin/sh

echo "[Dotfiles] Rust"

echo "Install Rust"
if [ ! -e "$HOME/.cargo/bin/rustc" ]; then
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -q -y --profile complete
fi

echo "Update Rust"
. "$HOME/.cargo/env"
rustup update stable

{{ end -}}

