{{- if eq .osid "linux-ubuntu" -}}
#!/bin/sh

echo "[Dotfiles] Packages"

echo "Install Packages"
packages="
    neofetch
    highlight
    tree
    ripgrep
"

echo "Install bat"
echo "Install fzf"
echo "Install fd"
echo "Install fd"

{{ end -}}

