{{- $version  := "17" -}}
{{- if eq .osid "linux-ubuntu" -}}
#!/bin/sh

echo "[Dotfiles] Java"
echo "Install Java {{ $version }}"
echo "Install jenv"
echo "Set JAVA_HOME"
echo "Add Java versions"
echo "Set Java {{ $version }} as default"
echo "Install Maven"
echo "Install Gradle"

{{ end -}}

