{{- if eq .osid "linux-ubuntu" -}}
#!/bin/sh

echo "[Dotfiles] Packages"

echo "Install Packages"
packages="
    neofetch
    highlight
    tree
    ripgrep
    bat
    fzf
    fd-find
"

sudo apt update && sudo apt install $packages


echo "Setup bat"
ln -s /usr/bin/batcat {{ joinPath .chezmoi.homeDir ".local/bin/bat" }}

# Add bat themes
mkdir -p {{ joinPath .chezmoi.homeDir ".config/bat/themes" }}
git clone https://github.com/catppuccin/bat.git /tmp/catppuccin_bat
bat_themes=$(find '/tmp/catppuccin_bat' -name '*.tmTheme')
for theme in ${bat_themes}; do
    cp "${theme}" "{{ joinPath .chezmoi.homeDir ".config/bat/themes" }}"
done
rm -rf /tmp/catppuccin_bat

# Rebuild bat cache
/usr/bin/batcat cache --build

echo "Setup fd"
ln -s /usr/bin/fdfind {{ joinPath .chezmoi.homeDir ".local/bin/fd" }}

{{ end -}}

