{{- if eq .osid "linux-ubuntu" -}}
#!/bin/sh

echo "[Dotfiles] Neovim"

nvim_dir=/opt/nvim
nvim_src=/opt/src/neovim

sudo mkdir -p $nvim_dir

if [ -f "${nvim_dir}/bin/nvim" ]; then
    echo "Neovim is already installed in /opt/nvim"
else
{{ if eq .chezmoi.arch "amd64" }}
    echo "Install Neovim"

    curl -sSL -o /tmp/nvim-linux64.tar.gz https://github.com/neovim/neovim/releases/download/stable/nvim-linux64.tar.gz
    sudo tar -xzf /tmp/nvim-linux64.tar.gz -C $nvim_dir --strip-components=1
    rm /tmp/nvim-linux64.tar.gz
{{ else }}
    echo "Build nvim"

    sudo mkdir -p /opt/src 

    sudo git clone https://github.com/neovim/neovim.git $nvim_src

    cd $nvim_src && \
    sudo make CMAKE_BUILD_TYPE=Release CMAKE_EXTRA_FLAGS="-DCMAKE_INSTALL_PREFIX=${nvim_dir}" && \
    sudo make install 
{{ end }}
fi

{{ end -}}

